.game {
  height: 100vh;
}

.display {
  display: flex;
  justify-content: space-around;
  height: calc(100% - 50px);
}

.input {
  height: 50px;
}

.feed, .navigator, .stats  {
  border: 1px solid black;
  width: 100%;
  padding: 0 10px;
}

.feed h3, .navigator h3, .stats h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.feed {

}

.navigator {

}

.stats {

}
